<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>

  <% if product.quantity == 0 %>  <!-- if the product is sold out add the sold out badge to is -->
    <aside class="sold-out">
      SOLD OUT!
    </aside>
  <% end %>
<!-- This is my janky way of finding the average of the reviews -->
  <div class="rating">
    <% reviews_this_prod = @reviews.where(product_id: product.id).pluck(:rating) %> <!-- makes an array of the ratings for this product -->
    <% reviews_this_prod = reviews_this_prod.sum / reviews_this_prod.size.to_f%>
    <% if reviews_this_prod.nan? %>
      <h5>This product has not yet been rated</h5>
    <% else %>
      <h5>Rated by our users as: <%= reviews_this_prod %> out of 5</h5>
      <% reviews_this_prod.to_i.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <% 5 - reviews_this_prod.to_i.times do %>
        <i class="fa fa-star-o"></i>
      <% end %>
    <% end %>

  </div>

</article>
