<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>

  <% if product.quantity == 0 %>
    <aside class="sold-out">
      SOLD OUT!
    </aside>
  <% end %>
<!-- This is my janky way of finding the average of the reviews -->
  <div class="rating">
    <% reviews_for_this_product = @reviews.where(product_id: product.id) %> <!-- finds the reviews for each product -->
    <% @total_of_reviews = 0 %>
    <% @index_for_reviews_each = 0 %>
    <% if reviews_for_this_product != [] %> <!-- if there ARE reviews for this product do the .each loop -->
      <% reviews_for_this_product.each do |review| %>
        <% @total_of_reviews += review.rating %>
        <% @index_for_reviews_each += 1 %>
      <% end %>
      <%  @avg_review = @total_of_reviews / @index_for_reviews_each %> <!-- @avg_review is for the cool star icons -->
      <% @numerical_review = @total_of_reviews.to_f / @index_for_reviews_each %>
      <h5>Rated by our users as: <%= @numerical_review %> out of 5</h5>
      <% of_five = 5 - @avg_review %>
      <% @avg_review.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <% of_five.times do %>
         <i class="fa fa-star-o"></i>
      <% end %>
    <% else %>
      <h5>This product has not yet been rated</h5>
    <% end %>
  </div>

</article>
